*{
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    box-sizing: border-box;
} 

.container{
    margin: 20px auto auto auto;
    width: 50%;
    min-height: 100px;
    padding: 10px;
    background-color: lightblue;
}

ul{
    width:100%;
}

.container h1{
    margin: auto;
    width: 60%;
}

.container a{
    text-decoration: none;
    color: black;
    width:50%;
    display: inline-block;
    text-align: center;
    border-right: 1px solid black;
}

.container p{
    width: 30%;
    text-align: center;
    display:inline-block;
}

li{
    list-style-type: none;
    padding: 5px;
    border-bottom: 1px black solid;
}

li:nth-child(even){
    background-color: lightcyan;
}

li:nth-child(odd){
    background-color: greenyellow;
}
